{% extends 'home.html' %}

{% block content %}
<div class="container">

      <!--Navbar-->
      <div class="navbar navbar-expand-lg navbar-dark mdb-color lighten-3 mt-5 mb-5">
        <div class="container ">
          <h1>Order summary </h1>
        </div>
      </div>
</div>

<div class="table-responsive text-nowrap">

  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">item-title</th>
        <th scope="col">price</th>
        <th scope="col">quantity</th>
        <th scope="col">total price</th>
      </tr>
    </thead>
    <tbody>
    {% for object in object.items.all %}
      <tr>
        <th scope="row">{{forloop.counter}}</th>
        <td>{{object.item.title}}</td>
        <td>{{object.item.price}}</td>
        <td>
          <a class=" btn mr-2" href="{% url 'remove_from_order_cart' object.item.slug %}">-</a>
          {{object.quantity}}
          <a class="btn ml-2" href="{% url 'add_to_order_cart' object.item.slug %}">+</a>
        </td>
        <td>
          {% if object.item.discount_price %}
          {{object.get_total_discount_item_price}}
          (saving {{object.get_amount_saved}})
          {% else %}
          {{object.get_total_item_price}}
          {% endif %}
        </td>

      </tr>
    {% endfor %}
    <tr>
      <td colspan="4">order total</td>
      <td>{{object.get_final_price}}</td>
    </tr>
    <tr>

      <td colspan="5">

        <a class="btn btn-warning float-right ml-2" href="{% url 'checkout' %}">proceed to checkout</a>
        <a class="btn btn-primary float-right" href="/">continue shopping</a>
      </td>
    </tr>

    </tbody>
  </table>

</div>

{% endblock %}